/* src/App.css */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
}

header, section {
  margin: 20px 0;
}

h1, h2 {
  font-size: 2em;
  color: #333;
}

p, li {
  font-size: 1.2em;
  color: #666;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 10px 0;
}
